/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica', cursive;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game Layout */
#container {
  width: 30vw;
  height: 95vh;
  border-radius: 5px;
  position: relative;
  width: fit-content;
}

#Right-player {
  display: none;
}

#canvas {
  width: 400px;
  height: 100%;
}

/* Pause Menu */
#PauseMenu {
  border: 2px solid #136265;
}

#pause {
  display: none;
  position: absolute;
  top: 5%;
  right: 1px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  cursor: pointer;
  background: whitesmoke;
  border: 2px solid #136265;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.5s;
  transition: transform 0.8s ease-in-out;
}

#pause:hover {
  box-shadow: 0 0 10px #00f7ff;
  transform: translate(-50%, -50%) scale(1.2);
}

#pause2 {
  position: absolute;
  top: 10%;
  right: 1px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  cursor: pointer;
  background: whitesmoke;
  border: 2px solid #136265;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.5s;
  transition: transform 0.8s ease-in-out;
}

#pause2:hover {
  box-shadow: 0 0 10px #00f7ff;
  transform: translate(-50%, -50%) scale(1.2);
}

#RESUME {
  position: absolute;
  top: 22%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: white;
  -webkit-text-stroke: 1px #136265;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(10px);
}

#pause2:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

#pause2:hover + #RESUME {
  opacity: 1;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%) scale(1.1);
}

.quitBtn {
  position: absolute;
  top: 10%;
  left: 7%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  cursor: pointer;
  background: whitesmoke;
  border: 2px solid #136265;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.5s;
  transition: transform 0.8s ease-in-out;
}

.quitBtn:hover {
  box-shadow: 0 0 10px #00f7ff;
  transform: translate(-50%, -50%) scale(1.2);
}

.quitTxt {
  position: absolute;
  top: 22%;
  left: 7%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: white;
  -webkit-text-stroke: 1px #136265;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(10px);
}

.quitBtn:hover + .quitTxt {
  opacity: 1;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%) scale(1.1);
}
#RestartBtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.8s ease-in-out;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  cursor: pointer;
  background: whitesmoke;
  color: #136265;
  border: 1px solid #136265;
  box-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff,
    0 0 80px #00f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  line-height: 1;
}

#RestartBtn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

#RestartBtnTxt {
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(10px);
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 0.999px #136265;
  font-size: 32px;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff;
}

 #RestartBtn:hover + .menuActionTxt {
  opacity: 1;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%) scale(1.1);
}

#loading {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 80px;
  width: 100%;
  color: white;
}

#blue-player {
  display: none;
}

#spaceShip {
  display: none;
}

/* End Menu */
#EndMenu {
  display: none;
}

#gameOverTxt {
  position: relative;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 55px;
  -webkit-text-stroke: 1px #136265;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
}

#score {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 40px;
  -webkit-text-stroke: 1px #136265;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
}

#bestScore{
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 25px;
  -webkit-text-stroke: 1px #136265;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
}

#coinsEarned{
  position: relative;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 30px;
  -webkit-text-stroke: 1px #136265;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
}

#RestartEndBtn{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.8s ease-in-out, box-shadow 0.8s;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  background: whitesmoke;
  color: #136265;
  border: 1px solid #136265;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  line-height: 1;
}

#startEndTxt{
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(10px);
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 0.999px #136265;
  font-size: 25px;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff;
}


#RestartEndBtn:hover + #startEndTxt {
  opacity: 1;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%) scale(1.1);
}

#RestartEndBtn:hover {
  box-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff,
    0 0 80px #00f7ff;
  transform: translate(-50%, -50%) scale(1.1);
}

/* Menus */
#PauseMenu {
  display: none;
}

.menu {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 425px;
  background-color: #1c9ab3;
  border-radius: 15px;
}

.menuTitle {
  position: relative;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 55px;
  -webkit-text-stroke: 1px #136265;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
}

.MainBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.8s ease-in-out;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  cursor: pointer;
  background: whitesmoke;
  color: #136265;
  border: 1px solid #136265;
  box-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff,
    0 0 80px #00f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  line-height: 1;
}

.menuActionTxt {
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(10px);
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 0.999px #136265;
  font-size: 32px;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff;
}

.MainBtn:hover + .menuActionTxt {
  opacity: 1;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%) scale(1.1);
}

.MainBtn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Menu Controls */
.shopBtn {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 auto;
  border: 1px solid #136265;
  color: #136265;
  background-color: whitesmoke;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.5s;
  transition: transform 0.8s ease-in-out;
}

.shopBtn:hover + .shopTxt {
  opacity: 1;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%);
}

.shopBtn:hover {
  box-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%) scale(1.2);
}

.shopTxt {
  position: absolute;
  top: 90%;
  left: 77%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 1px #136265;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(10px);
}

.coinsBtn {
  position: absolute;
  top: 78%;
  left: 90%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #136265;
  background-color: whitesmoke;
  color: #136265;
  transition: box-shadow 0.3s ease-in-out, background-color 0.5s;
  transition: transform 0.8s ease-in-out;
}

.coinsBtn:hover {
  box-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%) scale(1.2);
  margin: 0 auto;
}

.settingsBtn {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 auto;
  border: 1px solid #136265;
  color: #136265;
  background-color: whitesmoke;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.5s;
  transition: transform 0.8s ease-in-out;
}

.settingsBtn:hover {
  box-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%) scale(1.2);
}

.settingsTxt {
  position: absolute;
  opacity: 0;
  top: 90%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 1px #136265;
  font-size: 20px;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(10px);
}

.settingsBtn:hover + .settingsTxt {
  opacity: 1;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  transform: translate(-50%, -50%);
}
